html {
    scroll-behavior: smooth; /* Switch to JavaScript */
}

nav a {
    color: #e0e0e0;
    font-weight: 500;
    transition-timing-function: ease;
}

.back-color {
    background: rgb(2, 0, 36);
    background: linear-gradient(300deg, #124e66, #2e3944, #748d92);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    height: 90%;
}
@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/* Header CSS */
#profile-img {
    width: 350px;
    border-radius: 50%;
    border: black solid 1px;
    box-shadow: 0px 0px 20px #212a31;
}

.prof-title {
    color: #e0e0e0;
    font-family: "Audrey";
    font-weight: bolder;
    font-size: 4.5vh;
}

.prof-intro {
    color: #e0e0e0;
    font-family: "DM Sans";
    font-weight: 400;
}

/* Main CSS */

.main-background {
    background-color: #f0f2f5;
    height: 90%;
    width: auto;
}

.main-title {
    color: #212a31;
    font-family: "Audrey";
    font-weight: bolder;
    border-bottom: #212a31 solid 2px;
}

.main-text {
    color: #212a31;
    font-family: "DM Sans";
    font-weight: 400;
}

#main-img {
    width: 350px;
    border-radius: 20%;
    border: black solid 1px;
}

/* Section Skills */

.skills {
    background-color: #e0e0e0;
    height: 90%;
    width: auto;
}

.skills-title {
    color: #212a31;
    font-family: "Audrey";
    font-weight: bolder;
    border-bottom: #212a31 solid 2px;
    font-size: 1.5rem;
}

.skills-text {
    color: #212a31;
    font-family: "DM Sans";
    font-weight: 400;
}

.call-to-action {
    background-color: #e0e0e0;
    height: 90%;
    width: auto;
}

/* Footer */
#footer-background {
    background-color: #e0e0e0;
    height: 90%;
    width: auto;
}

.cta-title {
    color: #212a31;
    font-family: "Audrey";
    font-weight: bolder;
    border-bottom: #212a31 solid 2px;
    font-size: 2rem;
}

footer a {
    color: #2e3944;

}

footer a:hover {
    color: #1b789d;
}
