.back-color {
    background: rgb(2, 0, 36);
    background: linear-gradient(300deg, #124e66, #2e3944, #748d92);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    height: 90vh;
}
@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/* Header CSS */
#profile-img {
    width: 45vh;
    border-radius: 50%;
    border: black solid 1px;
}

.prof-title {
    color: #e0e0e0;
    font-family: "Audrey";
    font-weight: bolder;
}

.prof-intro {
    color: #e0e0e0;
    font-family: "DM Sans";
    font-weight: 400;
}

/* Main CSS */

.main-background {
    background-color: #f0f2f5;
}

.main-title {
    color: #212a31;
    font-family: "Audrey";
    font-weight: bolder;
}

.main-text {
    color: #212a31;
    font-family: "DM Sans";
    font-weight: bolder;
}

#main-img {
    height: 50vh;
    border-radius: 40%;
    border: #124e66 solid 3px;
}
